.benefits {
  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 20px;
  }

  &__headline {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 13px;
    padding-left: 25px;
  }

  &__info {
    padding: 35px 170px 25px 40px;
    background-color: var(--color-gray);
    position: relative;
    min-height: 150px;

    &::before {
      content: '';
      position: absolute;
      width: 5px;
      height: 35px;
      background-color: var(--color-green);
      top: 38px;
      left: 24px;
      border-radius: 1px;
    }

    img {
      position: absolute;
      bottom: 10px;
      right: 20px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 17px;
  }
}
