.master {
  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
  }

  &__list {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 250px;
      height: 190px;
      top: -75px;
      right: -155px;
      background-image: url('../img/image-docs.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__item {
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    color: var(--color-black);
    margin-bottom: 25px;
    position: relative;
    padding-left: 40px;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      top: -7px;
      left: 0;
      background-image: url('../img/check.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.master-sel {
  max-width: 820px;
  width: 100%;
  padding: 27px 35px 20px 34px;
  background-color: var(--color-gray);
  display: flex;
  justify-content: space-between;
  margin-right: 20px;

  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    position: relative;
    padding-left: 18px;

    &::before {
      content: '';
      position: absolute;
      width: 5px;
      height: 35px;
      top: 0;
      left: 0;
      background-color: var(--color-green);
      border-radius: 1px;
    }
  }

  &__subtitle {
    font-size: 14px;
    line-height: 16px;
    padding-left: 18px;
    margin-bottom: 20px;
  }

  &__form {
    display: flex;
    margin-bottom: 11px;
  }

  &__input {
    background: #FFFFFF;
    border-radius: 3px;
    font-size: 14px;
    line-height: 17px;
    padding: 12px 20px;
    min-width: 280px;
    border: none;
    outline: none;
    border: 1px solid transparent;

    &:focus {
      border: 1px solid var(--color-blue);
    }

    &::placeholder {
      font-size: 14px;
      line-height: 17px;
      color: var(--color-black);
    }
  }

  &__btn {
    padding: 12px 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    @extend %Gilroy;
    text-transform: uppercase;
    color: var(--color-white);
    background-color: var(--color-blue);
    border: none;
    border-radius: 3px;
    margin-left: -5px;
    cursor: pointer;
  }

  &__agreement {
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    padding-left: 17px;
    color: #a0a4a6;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      background-color: var(--color-blue);
      border-radius: 50%;
      top: 2px;
      left: 0;
    }
  }
}

.workers {
  position: relative;

  &__slider {
    padding-top: 100px;
    padding-right: 10px;
    padding-left: 10px;

  }

  &__nav {
    position: absolute;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    top: 60%;

    &::after {
      display: none;
    }

    &--right {
      right: -40px;
      background-image: url('../img/arrow-slider-right.svg');
    }

    &--left {
      left: -40px;
      background-image: url('../img/arrow-slider-left.svg');
    }
  }

  &__pagination {
    position: relative;
    bottom: 0;
    margin-top: 50px;

    .swiper-pagination-bullet {
      width: 50px;
      height: 5px;
      border-radius: 0;
      background-color: var(--color-gray);
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      background-color: var(--color-blue);
    }
  }
}

.worker {
  border: 1px solid var(--color-gray);
  border-radius: 3px;

  &__top {
    padding: 25px;
    position: relative;
  }

  &__name {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 10px;

    &::before {
      content: '';
      position: absolute;
      width: 80px;
      height: 5px;
      background-color: var(--color-green);
      bottom: 0;
      left: 0;
      border-radius: 1px;
    }
  }

  &__experience {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    display: block;
    margin-bottom: 10px;
  }

  &__specialization {
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    max-width: 140px;
    display: block;
  }

  &__photo {
    position: absolute;
    bottom: 0;
    right: 20px;
    width: 215px;
    height: 251px;
    object-fit: cover;
  }

  &__bot {
    background-color: var(--color-gray);
    padding: 21px 37px 24px 60px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 18px;
      height: 13px;
      background-image: url('../img/quote.svg');
      background-repeat: no-repeat;
      background-size: cover;
      top: 23px;
      left: 25px;
    }
  }

  &__description {
    font-size: 14px;
    line-height: 17px;
  }
}
