<section class="benefits page-section">
  <div class="container">
    <h2 class="benefits__title title">Почему выбирают нас?</h2>
    <p class="benefits__subtitle subtitle">Наши премущества, помогают нам удерживать лидирующие позиции на рынке услуг
      по ремонту бытовой техники.</p>
    <div class="benefits__inner">
      <div class="benefits__item">
        <h4 class="benefits__headline">Будем в течении 30 минут</h4>
        <div class="benefits__info">
          <p class="benefits__text">
            У нас более 150 мастеров в 125 районах Москвы, что позволяет обработать заказ в кратчайшие сроки.
          </p>
          <img src="img/clock.png" alt="картинка">
        </div>
      </div>
      <div class="benefits__item">
        <h4 class="benefits__headline">Оригинальные запчасти</h4>
        <div class="benefits__info">
          <p class="benefits__text">
            Подбираем и используем комплетующие только авторизированых от брендов поставщиков.
          </p>
          <img src="img/gear.png" alt="картинка">
        </div>
      </div>
      <div class="benefits__item">
        <h4 class="benefits__headline">Подарок каждому клиенту</h4>
        <div class="benefits__info">
          <p class="benefits__text">
            Каждому клиенту производившиму ремонт, дарим атибактериальную обработку техники.
          </p>
          <img src="img/gift.png" alt="картинка">
        </div>
      </div>
    </div>
  </div>
</section>