<header class="header">
  <div class="header__container container">
    <a href="#" class="logo">
      <img src="img/logo.svg" alt="логотип">
    </a>
    <nav class="nav">
      <ul class="nav__list">
        <div class="menu-btn">
          <div class="menu-btn__line">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <h4 class="menu-btn__title">Цены на услуги</h4>
        </div>
        <menu class="menu">
          <div class="menu__btns">
            <a class="menu__btn active" href="#washer">Стиральные машины</a>
            <a class="menu__btn" href="#fridge">Посудомоечные машины</a>
            <a class="menu__btn" href="#dishwasher">Холодильники</a>
          </div>
          <div class="menu__content active" id="washer">
            <ul class="menu__list">
              <li class="menu__item">
                <a class="menu__link" href="#">Не сливает воду</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#">Не набирает воду</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#">Не отжимает</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#">Не включается</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#">Не включается</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#">Сильно шумит</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#">Протекает</a>
              </li>
            </ul>
            <img class="menu__img menu__img--wash" src="img/wash.png" alt="картинка">
            <a href="#" class="menu__details">подробнее</a>
          </div>
          <div class="menu__content" id="fridge">
            <ul class="menu__list">
              <li class="menu__item">
                <a class="menu__link" href="#">Не морозит</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#">Перемораживает</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#">Намерзает лёд</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#">Не включается</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#">Не включается</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#">Сильно шумит</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#">Протекает</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#">Не холодит</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#">Греется</a>
              </li>
            </ul>
            <a href="#" class="menu__details">подробнее</a>
            <img class="menu__img menu__img--fridge" src="img/fridge.png" alt="картинка">
          </div>
          <div class="menu__content" id="dishwasher">
            <ul class="menu__list">
              <li class="menu__item">
                <a class="menu__link" href="#">Не сливает воду</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#">Не набирает воду</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#">Не сушит посуду</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#">Не включается</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#">Не включается</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#">Сильно шумит</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#">Протекает</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#">Греется</a>
              </li>
            </ul>
            <a href="#" class="menu__details">подробнее</a>
            <img class="menu__img menu__img--dryer" src="img/dryer.png" alt="картинка">

          </div>
        </menu>
        <li class="nav__item">
          <a href="#" class="nav__link">О компании</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Отзывы</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Контакты</a>
        </li>
      </ul>
    </nav>
    <div class="header__geo geo">Moсква и Подмосковье</div>
    <a href="tel:84951065216" class="header__phone"><span>8 (495)</span> 106-52-16</a>
  </div>
</header>