<section class="help page-section">
  <div class="container">
    <h2 class="help__title title">Чем мы поможем?</h2>
    <p class="help__subtitle subtitle">Приоритетным направлением деятельности нашей компании является ремонт бытовой
      техники на дому.</p>
    <div class="help__inner">
      <div class="help__item category">
        <h3 class="category__title">Ремонт стиральных машин</h3>
        <ul class="category__list">
          <li class="category__item">
            <a class="category__link" href="#">Не сливает</a>
          </li>
          <li class="category__item">
            <a class="category__link" href="#">Долго стирает</a>
          </li>
          <li class="category__item">
            <a class="category__link" href="#">Протекает</a>
          </li>
          <li class="category__item">
            <a class="category__link" href="#">Не отжимает</a>
          </li>
          <li class="category__item">
            <a class="category__link" href="#">Не влючается</a>
          </li>
          <li class="category__item">
            <a class="category__link" href="#">Сильно шумит</a>
          </li>
        </ul>
        <a class="category__details" href="#">подробнее</a>
        <img class="category__img" src="img/wash.png" alt="картинка">
      </div>
      <div class="help__item category">
        <h3 class="category__title">Ремонт хлодильников</h3>
        <ul class="category__list">
          <li class="category__item">
            <a class="category__link" href="#">Не морозит</a>
          </li>
          <li class="category__item">
            <a class="category__link" href="#">Гудит и шумит</a>
          </li>
          <li class="category__item">
            <a class="category__link" href="#">Не отключается</a>
          </li>
          <li class="category__item">
            <a class="category__link" href="#">Вода внутри</a>
          </li>
          <li class="category__item">
            <a class="category__link" href="#">Не холодит</a>
          </li>
          <li class="category__item">
            <a class="category__link" href="#">Намерзает лед</a>
          </li>
        </ul>
        <a class="category__details" href="#">подробнее</a>
        <img class="category__img" src="img/fridge.png" alt="картинка">
      </div>
      <div class="help__item category">
        <h3 class="category__title">Ремонт посудомоечных машин</h3>
        <ul class="category__list">
          <li class="category__item">
            <a class="category__link" href="#">Плохо моет</a>
          </li>
          <li class="category__item">
            <a class="category__link" href="#">Не набирает</a>
          </li>
          <li class="category__item">
            <a class="category__link" href="#">Отключается</a>
          </li>
          <li class="category__item">
            <a class="category__link" href="#">Не сливает</a>
          </li>
          <li class="category__item">
            <a class="category__link" href="#">Течет</a>
          </li>
          <li class="category__item">
            <a class="category__link" href="#">Не светится</a>
          </li>
        </ul>
        <a class="category__details" href="#">подробнее</a>
        <img class="category__img" src="img/dryer.png" alt="картинка">
      </div>
    </div>
  </div>
</section>