<section class="hero">
  <div class="hero__container container">
    <div class="hero__info">
      <h4 class="hero__subtitle">быстро и просто</h4>
      <h1 class="hero__title">ремонт бытовой техники</h1>
      <h4 class="hero__master">Выезд мастера от 30 минут</h4>
      <form class="hero__form hero-form" action="#">
        <label class="hero-form__label">
          <input class="hero-form__input" type="text" placeholder="+7 (999) 000-00-00">
        </label>
        <button class="hero-form__btn" type="submit">Заказать</button>
      </form>
    </div>
    <img src="img/master.png" alt="картинка" class="hero__img">
  </div>
</section>