<section class="master page-section">
  <div class="container">
    <h2 class="master__title title">Хорошие мастера у нас?</h2>
    <p class="master__subtitle subtitle">Наши жесткие критерии отбора мастеров позволяют держать качество ремонта на
      высшем уровне и оставлять гарантию.</p>
    <div class="master__top">
      <div class="master__selection master-sel">
        <div class="master-sel__info">
          <h4 class="master-sel__title">
            подберем ближайшего мастера
          </h4>
          <p class="master-sel__subtitle">
            Введите ваш адрес, и узнайте где ближайший наш мастер. И рассчет время прибытия.
          </p>
          <form class="master-sel__form" action="#">
            <input class="master-sel__input" type="text" placeholder="Введите адрес.." required>
            <button class="master-sel__btn" type="submit">Проверить</button>
          </form>
          <p class="master-sel__agreement">Нажимая на кнопку "Проверить", я даю свое согласие на обработку своих
            персональных данных.</p>
        </div>
        <img class="master-sel__decor" src="img/image-metr.png" alt="картинка">
      </div>
      <ul class="master__list">
        <li class="master__item">Проверям документы</li>
        <li class="master__item">Только граждане РФ</li>
        <li class="master__item">Подтвежденные сертификаты</li>
      </ul>
    </div>
    <div class="master__workers  workers">
      <div class="workers__slider swiper">
        <div class="workers__wrapper swiper-wrapper">
          <div class="workers__slide worker swiper-slide">
            <div class="worker__top">
              <h4 class="worker__name">Олег Самсонов</h4>
              <span class="worker__experience">7 лет опыта</span>
              <span class="worker__specialization">Мастер по ремонту стиральным машин
                и посудомоечных машин</span>
              <img class="worker__photo" src="img/worker-3.png" alt="работник">
            </div>
            <div class="worker__bot">
              <p class="worker__decsription">
                Занимаюсь ремонтом стиральных машин уже 7 лет, потому что решил когда-то почить свою. Отучился на
                профильном курсе в
                иституте М.И. Баумана.
              </p>
            </div>
          </div>
          <div class="workers__slide worker swiper-slide">
            <div class="worker__top">
              <h4 class="worker__name">Олег Самсонов</h4>
              <span class="worker__experience">7 лет опыта</span>
              <span class="worker__specialization">Мастер по ремонту стиральным машин
                и посудомоечных машин</span>
              <img class="worker__photo" src="img/worker-2.png" alt="работник">
            </div>
            <div class="worker__bot">
              <p class="worker__decsription">
                Занимаюсь ремонтом стиральных машин уже 7 лет, потому что решил когда-то почить свою. Отучился на
                профильном курсе в
                иституте М.И. Баумана.
              </p>
            </div>
          </div>
          <div class="workers__slide worker swiper-slide">
            <div class="worker__top">
              <h4 class="worker__name">Олег Самсонов</h4>
              <span class="worker__experience">7 лет опыта</span>
              <span class="worker__specialization">Мастер по ремонту стиральным машин
                и посудомоечных машин</span>
              <img class="worker__photo" src="img/worker-3.png" alt="работник">
            </div>
            <div class="worker__bot">
              <p class="worker__decsription">
                Занимаюсь ремонтом стиральных машин уже 7 лет, потому что решил когда-то почить свою. Отучился на
                профильном курсе в
                иституте М.И. Баумана.
              </p>
            </div>
          </div>
          <div class="workers__slide worker swiper-slide">
            <div class="worker__top">
              <h4 class="worker__name">Олег Самсонов</h4>
              <span class="worker__experience">7 лет опыта</span>
              <span class="worker__specialization">Мастер по ремонту стиральным машин
                и посудомоечных машин</span>
              <img class="worker__photo" src="img/worker-3.png" alt="работник">
            </div>
            <div class="worker__bot">
              <p class="worker__decsription">
                Занимаюсь ремонтом стиральных машин уже 7 лет, потому что решил когда-то почить свою. Отучился на
                профильном курсе в
                иституте М.И. Баумана.
              </p>
            </div>
          </div>
          <div class="workers__slide worker swiper-slide">
            <div class="worker__top">
              <h4 class="worker__name">Олег Самсонов</h4>
              <span class="worker__experience">7 лет опыта</span>
              <span class="worker__specialization">Мастер по ремонту стиральным машин
                и посудомоечных машин</span>
              <img class="worker__photo" src="img/worker-2.png" alt="работник">
            </div>
            <div class="worker__bot">
              <p class="worker__decsription">
                Занимаюсь ремонтом стиральных машин уже 7 лет, потому что решил когда-то почить свою. Отучился на
                профильном курсе в
                иституте М.И. Баумана.
              </p>
            </div>
          </div>
          <div class="workers__slide worker swiper-slide">
            <div class="worker__top">
              <h4 class="worker__name">Олег Самсонов</h4>
              <span class="worker__experience">7 лет опыта</span>
              <span class="worker__specialization">Мастер по ремонту стиральным машин
                и посудомоечных машин</span>
              <img class="worker__photo" src="img/worker-3.png" alt="работник">
            </div>
            <div class="worker__bot">
              <p class="worker__decsription">
                Занимаюсь ремонтом стиральных машин уже 7 лет, потому что решил когда-то почить свою. Отучился на
                профильном курсе в
                иституте М.И. Баумана.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="workers__nav workers__nav--right swiper-button-next"></div>
      <div class="workers__nav workers__nav--left swiper-button-prev"></div>
      <div class="workers__pagination swiper-pagination"></div>
    </div>

  </div>
</section>