<section class="reviews page-section">
  <div class="container">
    <h2 class="reviews__title title">Что о нас говорят?</h2>
    <p class="reviews__subtitle subtitle">О качестве работ компании говорят ее клиенты. Изучить мнение наших заказчиков
      вы можете ниже или в сервисах Google,
      Яндекс. Нам есть, чем гордиться!</p>
    <div class="reviews__wrapper">
      <div class="reviews__letters">
        <h3 class="reviews__headline">Благодарственные письма</h3>
        <div class="reviews__item review">
          <img class="review__photo" src="img/1.jpg" alt="фото">
          <div class="review__descr">
            <div class="review__top">
              <div class="review__rating">
                5.0
              </div>
              <h5 class="review__author">Алена</h5>
              <span class="review__way">Оставленно на бланке</span>
            </div>
            <p class="review__text">
              Спасибо MR.БЫТ, пропадали продукты из-за того что холодильник плохо морозил, теперь данной проблемы нет в
              моей жизни.
              Хочу отдельно отметить приятного в общении мастера Семена, который был опрятень, и при нем было все
              необходимое
              оборудование. На мои многочисленые вопросы отечал без малейшего раздражения, крайне приятный человек.
            </p>
          </div>
        </div>
        <div class="reviews__item review">
          <img class="review__photo" src="img/2.jpg" alt="фото">
          <div class="review__descr">
            <div class="review__top">
              <div class="review__rating">
                5.0
              </div>
              <h5 class="review__author">Светлана</h5>
              <span class="review__way">Оставленно на бланке</span>
            </div>
            <p class="review__text">
              Спасибо MR.БЫТ, пропадали продукты из-за того что холодильник плохо морозил, теперь данной проблемы нет в
              моей жизни.
              Хочу отдельно отметить приятного в общении мастера Семена, который был опрятень, и при нем было все
              необходимое
              оборудование. На мои многочисленые вопросы отечал без малейшего раздражения, крайне приятный человек.
            </p>
          </div>
        </div>
        <div class="reviews__item review">
          <img class="review__photo" src="img/3.jpg" alt="фото">
          <div class="review__descr">
            <div class="review__top">
              <div class="review__rating">
                4.7
              </div>
              <h5 class="review__author">Александр</h5>
              <span class="review__way">Оставленно на бланке</span>
            </div>
            <p class="review__text">
              Спасибо MR.БЫТ, пропадали продукты из-за того что холодильник плохо морозил, теперь данной проблемы нет в
              моей жизни.
              Хочу отдельно отметить приятного в общении мастера Семена, который был опрятень, и при нем было все
              необходимое
              оборудование. На мои многочисленые вопросы отечал без малейшего раздражения, крайне приятный человек.
            </p>
          </div>
        </div>
        <div class="reviews__item review">
          <img class="review__photo" src="img/4.jpg" alt="фото">
          <div class="review__descr">
            <div class="review__top">
              <div class="review__rating">
                4.9
              </div>
              <h5 class="review__author">Виктория</h5>
              <span class="review__way">Оставленно на бланке</span>
            </div>
            <p class="review__text">
              Спасибо MR.БЫТ, пропадали продукты из-за того что холодильник плохо морозил, теперь данной проблемы нет в
              моей жизни.
              Хочу отдельно отметить приятного в общении мастера Семена, который был опрятень, и при нем было все
              необходимое
              оборудование. На мои многочисленые вопросы отечал без малейшего раздражения, крайне приятный человек.
            </p>
          </div>
        </div>
      </div>
      <div class="reviews__video video">
        <h5 class="video__headline">Видео наших клиентов</h5>
        <a class="video__item" href="https://youtu.be/6ilnQIiNMJ0" target="blanc" style="background-image: url('../img/v1.jpg')">
          <h5 class="video__title">Елена - ремонт холодильника</h5>
        </a>
        <a class="video__item" href="https://youtu.be/6ilnQIiNMJ0" target="blanc" style="background-image: url('../img/v2.jpg')">
          <h5 class="video__title">Оксана - ремонт посудомоечной машины</h5>
        </a>
        <a class="video__item" href="https://youtu.be/6ilnQIiNMJ0" target="blanc" style="background-image: url('../img/v3.jpg')">
          <h5 class="video__title">Алина - ремонт посудомоечной машины</h5>
        </a>
      </div>
    </div>
  </div>
</section>